@import "tailwindcss";

:root {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgb(2, 6, 23) 0px, rgb(15, 23, 42) 50%, rgb(2, 6, 23) 100%);
  font-family: "Inter", sans-serif;
}

.typewriter-text::after {
  content: '|';
  margin-left: 4px;
  animation: blink 1.5s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}