@import "tailwindcss";

:root {
  background: rgb(15, 23, 42);
  font-family: "Inter", sans-serif;
}

.typewriter-text::after {
  content: '|';
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}